VLAN=yes
# Type VLAN
TYPE=Vlan
# Physical device for VLAN
PHYSDEV=eth1
# Number VLAN id (VLAN_ID)
VLAN_ID={{ vlan_id }}
VLAN_NAME_TYPE=DEV_PLUS_VID_NO_PAD
PROXY_METHOD=none
BROWSER_ONLY=no
BOOTPROTO=none
# IP addres for VLAN
IPADDR={{ vlan_ip }}
# Prefics for net VLAN
PREFIX=24
# Name vlan
NAME=vlan{{ vlan_id }}
# Name subinterface
DEVICE=eth1.{{ vlan_id }}
ONBOOT=yes
